<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Echo</title>
  </head>
  <body>
    <p>The Information Related To The Request</p>
    <dl>
      <dt>The Client IP</dt>
      <dd>{{ .ClientIP }}</dd>

      <dt>Proxies Passed Through</dt>
      <dd>{{ if .Proxy }} {{ .Proxy }} {{ else }} None {{ end }}</dd>

      <dt>Requested Path</dt>
      <dd>{{ .URL }}</dd>

      <dt>Requested Headers</dt>
      {{range $key, $value := .Headers}} <dd><li><strong>{{ $key }}</strong>:&nbsp;&nbsp;{{ $value }}</li></dd> {{else}} None {{end}}

      <dt>Requested Cookies</dt>
      <dd>{{ if .Cookies }} {{ .Cookies }} {{ else }} None {{ end }}</dd>

      <dt>Requested Body</dt>
      <dd>{{ if .RequestData }} {{ .RequestData }} {{ else }} None {{ end }}</dd>
    </dl>
  </body>
</html>